<h3 style="text-align: center"><strong>Game Rules</strong></h3>

<h4>GOAL OF THE GAME</h4>
<p>Each player has to fit as many of their pieces on the board as possible</p>

<h4>HOW TO PLAY</h4>
<p>Each player chooses a color and places their set of pieces in front of his/her side. The order of play is as follows: <span class="b">blue</span>, <span class="y">yellow</span>, <span class="r">red</span>, <span class="g">green</span>.</p>
<p>The first piece played by each player must cover a corner square.</p>
<p>Each new piece must touch at least one other piece of the same color, but only at the corners. Pieces of the same color cannot be in contact along an edge.</p>
<p>There are no restrictions on how pieces of different colors may contact each other.</p>
<p>Once a piece has been placed on the board, it cannot be moved during subsequent turns.</p>

<h4>END OF THE GAME</h4>
<p>The game ends when all players are blocked from laying down any more of their pieces. This also includes any players who may have placed all of their pieces on the board. Scores are tallied, and the player with the highest score is the winner.</p>

<h4>DURATION OF A GAME</h4>
<p>Games typically last 20 to 30 minutes.</p>