
<h2>Lobby (Game {{shareId}})</h2>
<div>
  <h4>Game Options</h4>
  <div>
    <h5>Set number of players</h5>
    <label class="radio-inline">
      <input type="radio" name="playersRadios" id="setplayers2" value="option1" ng-click="setNumOfPlayers(2)"> 2
    </label>
    <label class="radio-inline">
      <input type="radio" name="playersRadios" id="setplayers4" value="option2" ng-click="setNumOfPlayers(4)" checked> 4
    </label>

    <h5>Set Grid Dimensions (square)</h5>
    <form ng-submit="setDimensions(gridDimensions)">
      <input type="number" placeholder="{{gridDimensions}}" ng-model="gridDimensions">
    </form>

    <h5>Set Polyomino</h5>
    <label class="radio-inline">
      <input type="radio" name="polyRadios" id="setpoly4" value="option1" ng-click="setPolyomino(4)"> 4
    </label>
    <label class="radio-inline">
      <input type="radio" name="polyRadios" id="setpoly5" value="option2" ng-click="setPolyomino(5)" checked> 5
    </label>
    <label class="radio-inline">
      <input type="radio" name="polyRadios" id="setpoly6" value="option2" ng-click="setPolyomino(6)"> 6
    </label>

  </div>
</div>

<div>
  <h4>Current Players</h4>
  <div ng-repeat="(key, value) in currentPlayers">
    <div><strong>{{key}}:</strong> <span ng-if="value.name === 'Computer'" ng-click="switchToColor(key)">(click to switch to this color)</span>

      <p>{{value.name}}</p>
    </div>
  </div>
</div>

<div>
  <h4>Chat</h4>
  <div>

    <ul id='example-messages'></ul>

    <footer>
      <input type='text' id='messageInput'  placeholder='Type a message...'>
    </footer>
  </div>
</div>

<h4>Start Game</h4>
<button class="btn btn-success" ng-click="startGame()">Go!</button>