<div class="lobby-wrap">
    <h2 class="font-bold">Lobby (Game {{shareId}})</h2>

    <div class="row">
        <div class="col-md-6 game-options">
            <tabset>
                <tab heading="Game Options">
                    <div class="top-option-wrap">
                        <h5>Set number of players</h5>
                        <label class="radio-inline">
                            <input ng-disabled="!isHost" type="radio" name="playersRadios" id="setplayers2"
                                   value="option1" ng-click="setNumOfPlayers(2)" ng-checked="numColors === 2"> <span
                                class="custom-radio-wrap">2</span>
                        </label>
                        <label class="radio-inline">
                            <input ng-disabled="!isHost" type="radio" name="playersRadios" id="setplayers4"
                                   value="option2" ng-click="setNumOfPlayers(4)" ng-checked="numColors === 4"> <span
                                class="custom-radio-wrap">4</span>
                        </label>
                        <br \><br \>
                        <h5>Current Players</h5>
                    </div>
                    <ul class="player-list">
                        <li ng-repeat="(key, value) in currentPlayers">
                            <div class=""><span class="player-color">{{ key | capital }}:</span>
                                <span class="player-name" ng-if="!value.isAI">{{ value.name }}</span>

                                <div class="btn-group" role="group" ng-if="AiNames.indexOf(value.name) > -1">
                                    <p class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <span class="player-name">{{ value.name }}</span></strong>
                                        <span class="caret"></span>
                                    </p>
                                    <ul class="dropdown-menu lobby-menus" role="menu">
                                        <li ng-repeat="aiName in AiNames" ng-click="setAiDifficulty(aiName, key)">{{
                                            aiName }}
                                        </li>
                                    </ul>
                                </div>
                                <div class="btn-group player-options" role="group"
                                     ng-if="AiNames.indexOf(value.name) > -1">


                                    <p class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Options
                                        <span class="caret"></span>
                                    </p>
                                    <ul class="dropdown-menu lobby-menus" role="menu">
                                        <li ng-click="switchToColor(key)">Switch</li>
                                        <li ng-click="takeOver(key)">Take</li>
                                    </ul>
                                </div>
                                <div class="btn-group player-options" role="group" ng-if="value.name === playerName">
                                    <p class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Options
                                        <span class="caret"></span>
                                    </p>
                                    <ul class="dropdown-menu lobby-menus" role="menu">
                                        <li ng-click="dropControl(key)">Drop</li>
                                    </ul>
                                </div>
                        </li>
                    </ul>
                </tab>
                <tab heading="Advanced">

                    <h5>Set Grid Dimensions (square)</h5>
                    <label class="radio-inline">
                        <input ng-disabled="!isHost" type="radio" name="gridRadios" id="setGrid10" value="option1"
                               ng-click="setDimensions(10)" ng-checked="gridDimensions === 10"> 10
                    </label>
                    <label class="radio-inline">
                        <input ng-disabled="!isHost" type="radio" name="gridRadios" id="setGrid20" value="option2"
                               ng-click="setDimensions(20)" ng-checked="gridDimensions === 20"> 20
                    </label>
                    <label class="radio-inline">
                        <input ng-disabled="!isHost" type="radio" name="gridRadios" id="setGrid30" value="option3"
                               ng-click="setDimensions(30)" ng-checked="gridDimensions === 30"> 30
                    </label>

                    <h5>Set Turn Time Limit (seconds)</h5>
                    <label class="radio-inline">
                        <input ng-disabled="!isHost" type="radio" name="turnTimeRadios" id="setTurnTime30"
                               value="option1"
                               ng-click="setTurnTime(30)" ng-checked="turnTime === 30"> 30
                    </label>
                    <label class="radio-inline">
                        <input ng-disabled="!isHost" type="radio" name="turnTimeRadios" id="setTurnTime45"
                               value="option2"
                               ng-click="setTurnTime(45)" ng-checked="turnTime === 45"> 45
                    </label>
                    <label class="radio-inline">
                        <input ng-disabled="!isHost" type="radio" name="turnTimeRadios" id="setTurnTime60"
                               value="option3"
                               ng-click="setTurnTime(60)" ng-checked="turnTime === 60"> 60
                    </label>
                    <label class="radio-inline">
                        <input ng-disabled="!isHost" type="radio" name="turnTimeRadios" id="setTurnTime0"
                               value="option4"
                               ng-click="setTurnTime(0)" ng-checked="turnTime === 'none'"> No Limit
                    </label>

                    <h5>Set Polyomino</h5>
                    <label class="radio-inline">
                        <input ng-disabled="!isHost" type="radio" name="polyRadios" id="setpoly4" value="option1"
                               ng-click="setPolyomino(4)" ng-checked="polyNum === 4"> 4
                    </label>
                    <label class="radio-inline">
                        <input ng-disabled="!isHost" type="radio" name="polyRadios" id="setpoly5" value="option2"
                               ng-click="setPolyomino(5)" ng-checked="polyNum === 5"> 5
                    </label>
                    <label class="radio-inline">
                        <input ng-disabled="!isHost" type="radio" name="polyRadios" id="setpoly6" value="option3"
                               ng-click="setPolyomino(6)" ng-checked="polyNum === 6"> 6
                    </label>

                </tab>
            </tabset>
        </div>
        <div class="col-md-6 chat-box">
            <div class="chat-tab">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a tab-heading="Chat" style="color: black;"> Chat</a>
                    </li>
                </ul>
            </div>
            <div class="lobby-chat-wrap">
                <chat current='currentId'></chat>
                <input type='text' id='messageInput' class="lobby-input" placeholder='Type a message...'>
            </div>
        </div>
    </div>
    <button ng-disabled="!isHost" class="btn btn-main-page go-btn" ng-click="startGame()">Go!</button>
</div>
