<div class="lobby-wrap">
  <h2>Lobby (Game {{shareId}})</h2>
  <div class="row">
    <div class="col-md-6 game-options">
      <tabset>
          <tab heading="Game Options">
              <h5>Set number of players</h5>
              <label class="radio-inline">
                <input ng-disabled="!isHost" type="radio" name="playersRadios" id="setplayers2" value="option1" ng-click="setNumOfPlayers(2)" ng-checked="numColors === 2"> 2
              </label>
              <label class="radio-inline">
                <input ng-disabled="!isHost" type="radio" name="playersRadios" id="setplayers4" value="option2" ng-click="setNumOfPlayers(4)" ng-checked="numColors === 4"> 4
              </label>
              <br \><br \>
                <h5>Current Players</h5>
                <ul class="player-list">
                  
                  <li ng-repeat="(key, value) in currentPlayers">
                    <div><strong>{{ key | capital }}:<span class="player-name" ng-if="value.name === playerName">{{ value.name }}</span></strong>
                        <div class="btn-group" role="group" ng-if="AiNames.indexOf(value.name) > -1">
                            <p class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="player-name">{{ value.name }}</span></strong>
                                <span class="caret"></span>
                            </p>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="aiName in AiNames" ng-click="setAiDifficulty(aiName, key)">{{ aiName }}</li>
                            </ul>
                        </div>
                        <div class="btn-group player-options" role="group" ng-if="AiNames.indexOf(value.name) > -1">


                            <p class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Options
                                <span class="caret"></span>
                            </p>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-click="switchToColor(key)">Switch</li>
                                <li ng-click="takeOver(key)">Take</li>
                            </ul>
                        </div>
                        <div class="btn-group player-options" role="group" ng-if="value.name === playerName">
                            <p class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Options
                                <span class="caret"></span>
                            </p>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-click="dropControl(key)">Drop</li>
                            </ul>
                    </div>

                  </li>
                </ul>
          </tab>
          <tab heading="Advanced Options">
      
          <h5>Set Grid Dimensions (square)</h5>
          <div class="row">    
            <div class="col-lg-6">
              <div class="input-group">
                <form ng-submit="setDimensions(gridDimensions)">
                <input ng-disabled="!isHost" type="number" placeholder="{{gridDimensions}}" ng-model="gridDimensions" class="form-control">
                    <input class='btn btn-success btn-xs' type="submit" value="Set">
                </form>
              </div>
            </div>       
          </div>
          

          <h5>Set Polyomino</h5>
          <label class="radio-inline">
            <input ng-disabled="!isHost" type="radio" name="polyRadios" id="setpoly4" value="option1" ng-click="setPolyomino(4)" ng-checked="polyNum === 4"> 4
          </label>
          <label class="radio-inline">
            <input ng-disabled="!isHost" type="radio" name="polyRadios" id="setpoly5" value="option2" ng-click="setPolyomino(5)" ng-checked="polyNum === 5"> 5
          </label>
          <label class="radio-inline">
            <input ng-disabled="!isHost" type="radio" name="polyRadios" id="setpoly6" value="option2" ng-click="setPolyomino(6)" ng-checked="polyNum === 6"> 6
          </label>
          </tab>
      </tabset>

    </div>
    <div class="col-md-6 chat-box">
      <chat current='currentId'></chat>
    </div>
  </div>
  <button ng-disabled="!isHost" class="btn btn-main-page go-btn" ng-click="startGame()">Go!</button>
</div>
