
<div class="main-page-wrap">
  <h1 class="bloqus-h1"> Bloqus </h1>
  <div id="gamecontrols">
    <div ng-show="gameDoesNotExist">
      <p>Sorry, we can't find that game ID :(</p>
    </div>
    <div ng-show="gameIsFull">
      <p>Sorry, that game is full :(</p>
    </div>
    <button type="button" data-toggle="modal" data-target=".bs-example-modal-sm" class="btn btn-primary btn-main-page">Create Game</button>
    <div id="create-game-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <form ng-submit="createGame(playername); playername = null">
            <h4>Enter Host's Name</h4><br/>
            <input name="hostname" ng-model="hostname" type="text" class="form-control" placeholder="Enter Host Name">
          </form>
          <br/>
        </div>
      </div>
    </div>

    <button type="button" data-toggle="modal" data-target=".bs-example-modal-lg" class="btn btn-success btn-main-page">Join Game</button>
    <div id="join-game-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <form ng-hide="foundGame" ng-submit="checkGameId(gamenum)">
            <h4>Join Game</h4><br/>
            <input name="gamenum" ng-model="gamenum" type="text" class="form-control" placeholder="Enter Game ID">
          </form>
          <form ng-show="foundGame" ng-submit="enterGame(playername)">
            <h4>Enter Name</h4><br/>
            <input name="playername" ng-model="playername" type="text" class="form-control" placeholder="Enter Name">
          </form>
          <br/>
        </div>
      </div>
    </div>
  </div>
</div>
    